img{
    max-height: 400px;
    max-width: 500px;
}

a:link, a:visited {
    background-color: salmon;
    color: gainsboro;
    padding: 14px 25px;
    text-align: center; 
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: pink;
}

html{
    font-family: sans-serif;
    color: salmon;
}